/* My tweaks on the dsanson css.*/

body { 
  font-family: 'Open Sans', sans-serif;
}

[data-carnap-type='truthtable'] select {
  appearance: none;
  -webkit-appearance: none;
}
[data-carnap-type='truthtable'] td {
  text-align: center;
}

[data-carnap-type='truthtable'] select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #F0F8FF;
  padding-left: 5px;
  padding-right: 5px;
}


[data-carnap-qualitativetype="multiplechoice"] label { 
  padding-left:10px;
  font-size:10pt;
}


#testTimer {
  display: block;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0em;
  right: 0em;
  width: 100%;
  color: RoyalBlue;
  background-color: F0F8FF;
  border: 1px;
  text-align: right;
  padding: 2px;
  z-index: 1;
}

#testTimer:before {
  content: 'Time remaining: ';
  color: black;
}
